{% extends "layouts/master.html.twig" %}

{% block title %}
    Animales
{% endblock %}

{% block header %}
    {{parent()}}
    <h2>{{ title }}</h2>
{% endblock %}

{% block content %}
    {# <h2>Tu nombre es: {{ name }} {{ apellidos }}</h2>
    <h2>Tu nombre de usuario es: {{ username }}</h2> #}

    {# Variables en las vistas twig #}
    {% set perro = 'Pastor Aleman' %}
    <h3>
        {{ perro }}
    </h3>

    {# Trabajar con arrays #}

    {{ dump(animales) }}
    {{ animales[2] }}

    {# Trabajar con arrays asociativos #}

    {{ dump(ave) }}
    {{ ave.tipo ~ ' - ' ~ ave.raza }}

    {# Estructuras de control en twig #}

    {# condicional #}

    {% if ave.tipo == 'palomo' %}
        <h2>Ciudado un palomo</h2>
    {% else %}
        <h2>No hay palomos a la vista</h2>
    {% endif %}

    {# Bucle #}

    {% if animales|length > 0 %}
        <ul>
            {% for animal in animales %}
                <li>
                    {{ animal }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for i in 0..animales|length %}
        {{ i }}
    {% endfor %}

    {% if ave.color ends with 's' %}
        <h1>Empieza por g</h1>
    {% endif %}
    <hr>
    {# Funciones predefinidas #}

    <h2>{{ min([9,11,6,99,2]) }}</h2>
    <h2>{{ random(animales) }}</h2>
    <h2>{{ max([9,11,6,99,2]) }}</h2>

    {% for i in range(0, 100, 5) %}
        {{ i }}<br>
    {% endfor %}
    
    <hr>
{% endblock %}
