{% extends "layouts/master.html.twig" %}

{% block title %}
    Animales
{% endblock %}

{% block header %}
    {{parent()}}
    <h2>{{ title }}</h2>
{% endblock %}

{% block content %}
    {# <h2>Tu nombre es: {{ name }} {{ apellidos }}</h2>
    <h2>Tu nombre de usuario es: {{ username }}</h2> #}

    {# Variables en las vistas twig #}
    {% set perro = 'Pastor Aleman' %}
    <h3>
        {{ perro }}
    </h3>

    {# Trabajar con arrays #}

    {{ dump(animales) }}
    {{ animales[2] }}

    {# Trabajar con arrays asociativos #}

    {{ dump(ave) }}
    {{ ave.tipo ~ ' - ' ~ ave.raza }}

{% endblock %}
